.card {
    justify-content: left;
}
.keys {
    font-weight: 600;
}
.valG {
    color: green;
}
.valY {
    color: goldenrod;
}
.valR {
    color: red;
}
.dailySets {
    padding: 0px;
    margin: 0px 0px;
}
.macs,.cals {
    border-top-width: 1px;
    border-color: black;
}
